@import url("reset.css");

body {
  font-size: 28px;
  max-width: 1270px;
  padding: 0 15px;
  margin: 0 auto;
  text-align: center;
}
.button {
  padding: 10px 20px;
  background-color: #8a2be2;
}
