@import url("fonts.css");
@import url("reset.css");

body {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  color: #00d8ff;
  background-color: #282d35;
}

.wrapper {
  overflow: clip;
  min-height: 100%;
}
.header {
  width: 100%;
  text-align: center;
  background-color: #37393f;
}
.header--fixed {
  position: fixed;
  z-index: 99;
}
.main {
  padding-top: 80px;
}

.header__container,
.main__container,
.footer__container {
  max-width: 1250px;
  padding: 30px 15px;
  margin: 0 auto;
}

.wrapper-practise__title {
  text-align: center;
  margin-bottom: 25px;
}
.grid-cards {
  margin: 0 auto;
  max-width: 900px;
  font-size: 0;
}
.grid-cards__card {
  display: inline-block;
  width: 33.33%;
  font-size: 18px;
  margin-bottom: 30px;
}

.card-transform__title {
  margin-bottom: 10px;
}
.card-transform__body {
  width: 250px;
  height: 250px;
  border: 1px solid #37393f;
  background-color: #37393f;
}

.card-transform__card {
  width: 250px;
  height: 250px;
  background-color: #00d8ff;
}
.card-transform__body:hover .card-transform__card--translate {
  transform: translate(-15px, 20px);
}
.card-transform__body:hover .card-transform__card--scale {
  transform: scale(0.8);
}
.card-transform__body:hover .card-transform__card--rotate {
  transform: rotate(-45deg);
}
.card-transform__body:hover .card-transform__card--skew {
  transform: skew(-150deg, 20deg);
}
.card-transform__body:hover .card-transform__card--matrix {
  transform: matrix(1, 0.5, 0.5, 0.3, 10, 10);
}
.card-transform__body:hover .card-transform__card--origin {
  transform-origin: 25% 60%;
  transform: rotate(45deg);
}
.card-transform__body--perspective {
  perspective: 300px;
  perspective-origin: 10%;
}
.card-transform__body:hover .card-transform__card--translate3d {
  transform: translate3d(40px, -50px, -10px);
}
.card-transform__body:hover .card-transform__card--scale3d {
  transform: scale3d(0.6, 0.4, 0.2);
}
.card-transform__body:hover .card-transform__card--rotate3d {
  transform: rotate3d(0.7, 0.7, 1.2, 70deg);
}
.card-transform__body:hover .card-transform__card--matrix3d {
  transform: matrix3d(1, 1, 7, 0, 1, 7, -3, 0, 4, 4, 4, 7, 7, 3, 2, 13);
}

.card-transform__body--style {
  perspective: 100px;
  transform-style: preserve-3d;
}
.card-transform__card--style {
  transform: rotateY(0deg);
}
.card-transform__body:hover .card-transform__card--style {
  transform: rotateY(5deg);
}
.main__practise-wrapper {
  margin-bottom: 50px;
}
.main__car-wrapper {
  min-height: 70vh;
}
.car-body {
  padding-top: 150px;
}

.car-body__wheel {
  width: 150px;
  height: 150px;
  background-color: #464554;
  border-radius: 50%;
}

.wheel__tyre {
  width: 120px;
  height: 120px;
  background-color: #000000;
  border-radius: 50%;
  transform: translate(15px, 15px);
}
.wheel__rim {
  width: 60px;
  height: 60px;
  background-color: #464554;
  transform: translate(30px, 30px);
  border-radius: 50%;
}

.wheel__disk {
  width: 20px;
  height: 60px;
  background-color: #fb8b03;
  border-radius: 100% 0% 0% 100% / 48% 48% 52% 52%;
  transform: rotate(20deg) translate(0, -7px);
}
.wheel__dot {
  width: 20px;
  height: 20px;
  background-color: #000000;
  border-radius: 50%;
  transform: translate(20px, 20px);
}
.wheel__dot span:nth-child(1) {
  width: 20px;
  height: 50px;
  border: 2px solid #12121e;
  border-top: transparent;
  display: block;
  border-radius: 0% 0% 40% 45% / 10% 10% 34% 34%;
  transform: translate(0, 20px);
}
.wheel__dot span:nth-child(2) {
  width: 20px;
  height: 50px;
  border: 2px solid #12121e;
  border-top: transparent;
  display: block;
  border-radius: 0% 0% 40% 45% / 10% 10% 34% 34%;
  transform: translate(-27px, -42px) rotate(50deg);
}
.wheel__dot span:nth-child(3) {
  width: 20px;
  height: 50px;
  border: 2px solid #12121e;
  border-top: transparent;
  display: block;
  border-radius: 0% 0% 40% 45% / 10% 10% 34% 34%;
  transform: translate(28px, -95px) rotate(-57deg);
}
.wheel__dot span:nth-child(4) {
  width: 20px;
  height: 50px;
  border: 2px solid #12121e;
  border-top: transparent;
  display: block;
  border-radius: 0% 0% 40% 45% / 10% 10% 34% 34%;
  transform: translate(33px, -173px) rotate(-100deg);
}
.wheel__dot span:nth-child(5) {
  width: 20px;
  height: 50px;
  border: 2px solid #12121e;
  border-top: transparent;
  display: block;
  border-radius: 0% 0% 40% 45% / 10% 10% 34% 34%;
  transform: translate(13px, -248px) rotate(-156deg);
}
.wheel__dot span:nth-child(7) {
  width: 20px;
  height: 50px;
  border: 2px solid #12121e;
  border-top: transparent;
  display: block;
  border-radius: 0% 0% 40% 45% / 10% 10% 34% 34%;
  transform: translate(-36px, -323px) rotate(-256deg);
}
.wheel__dot span:nth-child(6) {
  width: 20px;
  height: 50px;
  border: 2px solid #12121e;
  border-top: transparent;
  display: block;
  border-radius: 0% 0% 40% 45% / 10% 10% 34% 34%;
  transform: translate(-17px, -297px) rotate(-206deg);
}

.bodywork__body {
  width: 510px;
  height: 70px;
  background-color: #00d8ff;
  border: 4px solid #000;
}
.bodywork__body::after {
  content: "";
  width: 300px;
  height: 30px;
  display: block;
  border: 4px solid #000;
  border-right: 20px solid #000;
  position: relative;
  top: 33px;
  left: 68px;
}

.bodywork__spoiler {
  transform: translate(-69px, 98px);
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 100px solid #fb8b03;
}
.bodywork__roof {
  width: 0;
  height: 0;
  border-left: 159px solid transparent;
  border-right: 16px solid transparent;
  border-bottom: 75px solid #00d8ff;
}

.bodywork__pilot {
  z-index: -1;
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: #ff0000;
  border-radius: 50%;
  transform: translate(158px, -109px);
}
.bodywork__bumper {
  width: 0;
  height: 0;
  border-left: 0px solid transparent;
  border-right: 132px solid transparent;
  border-bottom: 65px solid #00d8ff;
  position: relative;
  top: -71px;
  left: 505px;
}

.car-body__wheel--position-left {
  position: relative;
  top: -180px;
  left: -96px;
}
.car-body__wheel--position-right {
  position: relative;
  top: -330px;
  left: 379px;
  transform: rotate(180deg);
}

.footer {
  background-color: #37393f;
}
.footer__container {
  text-align: center;
}
