@mixin max-screen($res) {
  @media screen and (max-width: $res) {
    @content;
  }
}

@mixin any-hover {
  @media (hover: hover) and (pointer: fine) {
    &:hover {
      @content;
    }
  }
}