@import "_fonts.scss";

@import "_reset.scss";

body {
  color: #807d7e;
  font-family: "Causten", sans-serif;
  font-size: 22px;
  font-weight: 500;
  line-height: 1.2;
}
.wrapper {
  overflow: clip;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  main {
    flex-grow: 1;
  }
}

[class*="__container"] {
  max-width: 1270px;
  padding: 0 15px;
  margin: 0 auto;
}
.menu-open body {
  overflow: hidden;
}

.page > *:first-child {
  padding-top: 130px;
  @media (max-width: 960px) {
    padding-top: 100px;
  }
}
// ====================Header=============================//
.header {
  background: #fff;
  border-bottom: 1px solid #bebcbd;
  &--fixed {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
  }
  &__logo {
    position: relative;
    flex: 0 0 91px;
  }
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 50px;
    min-height: 108px;
    padding-top: 5px;
    padding-bottom: 5px;
    @media (max-width: 1200px) {
      gap: 30px;
    }
    @media (max-width: 1060px) {
      min-height: 74px;
    }
    @media (max-width: 575px) {
      column-gap: 15px;
    }

    .menu {
      &__body {
        @media (max-width: 1060px) {
          position: fixed;
          width: 100%;
          height: 100%;
          top: 75px;
          left: -100%;
          transition: all 0.3s ease 0s;
          overflow: auto;
          padding: 60px 35px 105px 15px;
          background-color: #fff;
          text-align: right;
          z-index: 10;
          .menu-open & {
            left: 0;
          }
        }
      }
      &__list {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        column-gap: 40px;
        row-gap: 10px;
        @media (max-width: 1200px) {
          gap: 25px;
        }
        @media (max-width: 1060px) {
          flex-direction: column;
          row-gap: 25px;
          align-items: flex-end;
          li {
            font-size: 26px;
          }
        }
      }
      &__item {
        transition: color 0.3s ease 0s;
        @media (any-hover: hover) {
          &:hover {
            color: #3c4242;
          }
        }
        &--active {
          color: #3c4242;
          font-weight: 700;
        }
      }
      @media (max-width: 1060px) {
        visibility: hidden;
        .menu-open & {
          visibility: visible;
        }
      }
    }
  }
  &__form {
    flex: 0 1 267px;
    position: relative;
    @media (max-width: 575px) {
      position: fixed;
      width: 100%;
      height: 44px;
      top: 80px;
      right: 100%;
      padding: 0px 20px;
      transition: all 0.3s ease 0s;
      flex-basis: 100%;
      z-index: 10;

      input {
        padding-right: 20px;
        padding-left: 40px;
      }

      button {
        left: 30px;
      }

      .menu-open & {
        right: 0;
      }
    }

    input {
      color: #3c4242;
      height: 44px;
      width: 100%;
      padding: 0 20px 0 52px;
      border-radius: 8px;
      background: #f6f6f6;
      font-size: 16px;
      font-weight: 400;
    }
    button {
      position: absolute;
      top: 12px;
      left: 20px;
      @media (max-width: 575px) {
        left: 45px;
      }
    }
  }
  &__actions {
    display: flex;
    align-items: center;
    gap: 12px;
  }
  &__item {
    padding: 12px;
    border-radius: 8px;
    background: #f6f6f6;
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease 0s;
    @media (any-hover: hover) {
      &:hover {
        background-color: #8b33fd81;
      }
    }
    @media (max-width: 575px) {
      width: 36px;
      height: 36px;
    }
  }
  &__burger {
    width: 44px;
    height: 44px;

    background-color: #f6f6f6;
    border-radius: 8px;
    transition: all 0.3s ease 0s;
    position: relative;

    display: none;
    @media (max-width: 1060px) {
      display: block;
      cursor: pointer;
      &::before {
        .menu-open & {
          transform: rotate(45deg);
          top: 50%;
          margin-top: -1px;
        }
      }
      &::after {
        .menu-open & {
          transform: rotate(-45deg);
          bottom: 50%;
          margin-bottom: -1px;
        }
      }
      span {
        .menu-open & {
          display: none;
        }
      }
    }
    span {
      position: absolute;
      top: 50%;
      margin-bottom: -1px;
      width: 60%;
      height: 2px;
      left: 9px;
      background-color: #807d7e;
      transition: all 0.2s;
    }
    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 60%;
      height: 2px;
      left: 9px;
      background-color: #807d7e;
      transition: all 0.2s;
    }
    &::before {
      top: 12px;
    }
    &::after {
      bottom: 10px;
    }
    @media (max-width: 575px) {
      width: 36px;
      height: 36px;
      &::before,
      &::after,
      span {
        left: 7px;
      }
      &::before {
        top: 10px;
      }
      &::after {
        bottom: 8px;
      }
    }
  }
}

// ========================Fashion===========================//

.page {
  &__fashion {
    margin-bottom: 100px;
    @media (max-width: 1150px) {
      margin-bottom: 50px;
    }
    @media (max-width: 991.98px) {
      margin-bottom: 35px;
    }
  }
}
.fashion {
  &__block {
    display: flex;
    border-radius: 16px;
    overflow: hidden;
  }
  &__left-part {
    flex-basis: 50%;
    position: relative;
    padding: 183px 74px;
    @media (max-width: 1200px) {
      padding: 130px 50px;
    }
    @media (max-width: 1070px) {
      padding: 100px 40px;
    }
    @media (max-width: 960px) {
      padding: 80px 30px;
    }
    @media (max-width: 760px) {
      padding: 40px 15px;
    }
    @media (max-width: 575px) {
      flex-basis: 100%;
      text-align: center;
      padding: 20px 15px;
    }
  }
  .part-left {
    &__content {
      position: relative;
      max-width: 466px;
    }
    &__image {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      img {
        aspect-ratio: 613 / 639;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top;
      }
    }

    &__title {
      color: #fff;
      font-family: "Core Sans C", sans-serif;
      font-size: 34px;
      font-weight: 800;
      line-height: 1.47;
      letter-spacing: 0.208px;
      margin-bottom: 30px;
      @media (max-width: 1070px) {
        font-size: 30px;
        margin-bottom: 25px;
      }
      @media (max-width: 960px) {
      }
      @media (max-width: 760px) {
        font-size: 24px;
        margin-bottom: 10px;
      }
      @media (max-width: 575px) {
        font-size: 20px;
      }
    }

    &__text {
      color: #fff;
      font-size: 20px;
      font-weight: 300;
      line-height: 1.2;
      letter-spacing: 1px;
      &:not(:last-child) {
        margin-bottom: 50px;
      }
      @media (max-width: 1070px) {
        font-size: 18px;
      }
      @media (max-width: 960px) {
        font-size: 16px;
        &:not(:last-child) {
          margin-bottom: 30px;
        }
      }
      @media (max-width: 480px) {
        &:not(:last-child) {
          margin-bottom: 15px;
        }
      }
    }
    &__button {
      border-radius: 8px;
      background: #fff;
      padding: 12px 44px;

      color: #3c4242;
      text-align: center;
      font-size: 18px;
      font-weight: 600;
      line-height: 1.2;
      transition: all 0.3s ease 0s;
      @media (any-hover: hover) {
        &:hover {
          background-color: #8b33fd81;
          color: #fff;
        }
      }

      @media (max-width: 1070px) {
        padding: 12px 44px;
      }
      @media (max-width: 960px) {
        padding: 10px 36px;
      }
    }
  }
  // .fashion__right-part
  &__right-part {
    flex-basis: 50%;
    position: relative;
    @media (max-width: 575px) {
      display: none;
    }
    .part-right {
      &__image {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        img {
          aspect-ratio: 613 / 639;
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: top;
        }
      }
    }
  }
}

// ======================Men=================================//
// TITLE //
.title {
  color: #3c4242;
  font-family: "Core Sans C", sans-serif;
  font-size: 34px;
  font-weight: 600;
  line-height: 0.98;
  letter-spacing: 0.68px;
  padding-left: 20px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 4px;
    left: 0;
    height: 80%;
    width: 6px;
    border-radius: 10px;
    background: #8a33fd;
  }
  @media (max-width: 991.98px) {
    font-size: 30px;
    &::before {
      top: 3px;
    }
  }
  @media (max-width: 768px) {
    font-size: 26px;
    padding-left: 15px;
    &::before {
      top: 2px;
    }
  }
  @media (max-width: 575px) {
    font-size: 22px;
  }
}

.page {
  &__categories-men,
  &__categories-women {
    margin-bottom: 100px;
    @media (max-width: 1150px) {
      margin-bottom: 50px;
    }
    @media (max-width: 991.98px) {
      margin-bottom: 35px;
    }
    .women-categories__title,
    .men-categories__title {
      margin-bottom: 70px;
      @media (max-width: 991.98px) {
        margin-bottom: 35px;
      }
      @media (max-width: 768px) {
        margin-bottom: 20px;
      }
    }
  }
}

.list-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px;
  @media (max-width: 1100px) {
    gap: 40px;
  }
  @media (max-width: 991.98px) {
    gap: 25px;
  }
  @media (max-width: 900px) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media (max-width: 575px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (max-width: 420px) {
    gap: 10px;
  }
}
.card-item {
  &__link {
    @media (any-hover: hover) {
      &:hover {
        .card-item__arr {
          animation: slide-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
        }
        .card-item__image img {
          transform: scale(1.04);
        }
      }
    }
  }

  &__image {
    max-width: 270px;
    max-height: 390px;
    margin-bottom: 15px;
    overflow: hidden;
    border-radius: 10px;
    @media (max-width: 420px) {
      & {
        margin-bottom: 7px;
      }
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      aspect-ratio: 270 / 393;
      object-position: top;
      transition: transform 0.3s ease 0s;
    }
  }
  &__info {
    display: flex;

    @media (max-width: 420px) {
      img {
        display: none;
      }
    }
  }
  &__text {
    @media (max-width: 420px) {
      & {
        text-align: center;
      }
    }
    flex-grow: 1;
    h6 {
      color: #2a2f2f;
      font-size: 17px;
      font-weight: 700;
      line-height: 1.56;
      letter-spacing: -0.715px;
      margin-bottom: 4px;
      @media (max-width: 768px) {
        font-size: 15px;
        margin-bottom: 2px;
      }
    }
    div {
      color: #7f7f7f;
      font-size: 13px;
      font-weight: 500;
      line-height: 2.08;
      letter-spacing: -0.536px;
    }
  }
}

@keyframes slide-right {
  0% {
    transform: translateX(-20px);
  }
  100% {
    transform: translateX(0px);
  }
}

.footer {
  text-align: center;
  color: #fff;
  background-color: #8a33fd;
}
