@import url("fonts.css");
@import url("reset.css");

body {
  font-family: "Causten", sans-serif;
  font-size: 18px;
  color: #807d7e;
}

.wrapper {
  overflow: clip;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.wrapper > .main {
  flex-grow: 1;
}
/* ============================Header================================== */
.header--fixed {
  position: fixed;
  width: 100%;
  border-bottom: 1px solid #bebcbd;
  z-index: 999;
}
[class*="__container"] {
  max-width: 1270px;
  margin: 0 auto;
  padding: 0 15px;
}

.header__container {
  padding: 31px 15px;
  display: flex;
  background: #fff;
  align-items: center;
  gap: 60px;
}
.container__left {
  display: flex;
  align-items: center;
  gap: 60px;
  flex-grow: 1;
}
.container__logo {
  flex-grow: 1;
  /* margin-right: 163px; */
}
.container__search-block {
  flex-grow: 1;
  /* margin-right: 210px; */
}
.container__select {
  /* margin-right: 60px; */
}
.block-search__input-field {
  padding: 12px 48px 12px 65px;
  border-radius: 8px;
  background-color: #f6f6f6;
  max-width: 184px;
  font-weight: 500;
  display: inline-block;
}
.block-search {
  position: relative;
}
.block-search button {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 10px;
  left: 38px;
  background-color: transparent;
}
.block-search input::placeholder {
  color: #807d7e;
  font-family: "Causten", sans-serif;
  font-size: 16px;
  line-height: 1.2;
}

.body-select {
  position: relative;
}

.link-language::after {
  content: "";
  background: url("../img/arrdown.svg") 0 0 / cover no-repeat;
  display: inline-block;
  width: 10px;
  height: 5px;
  margin-bottom: 2px;
  margin-left: 10px;
}

.link-language:hover .menu-language {
  visibility: visible;
}

.menu-language {
  padding: 15px 10px;
  visibility: hidden;
  position: absolute;
  background-color: #f6f6f6;
  width: 100%;
}

.menu-language__link {
  min-height: 40px;
}
.menu-language__link::after {
  content: "";
  width: 0;
  display: inline-block;
  height: 2px;
  left: 0;
  top: -10px;
  position: relative;
  background-color: #8a33fd;
  transition: all 0.3s;
}
.menu-language__link:hover {
  color: #8a33fd;
}
.menu-language__link:hover::after {
  background-color: #8a33fd;
  width: 100%;
}

.block-button {
  display: flex;
  gap: 29px;
  /* margin-left: auto; */
}
.block-button__button {
  padding: 12px 48px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 500;
}
.block-button__button--sign-up {
  border: 1px solid #3c4242;
  color: #8a33fd;
  flex-shrink: 0;
}
.block-button__button--sign-up:hover {
  background: #8a33fd;
  color: #fff;
  transition: all 0.3s;
}
.block-button__button--login {
  border: 1px solid transparent;
  background: #8a33fd;
  color: #fff;
  flex-shrink: 0;
}
.block-button__button--login:hover {
  border: 1px solid #3c4242;
  color: #8a33fd;
  transition: all 0.3s;
  background: transparent;
}
/* Consulting form */

.main__consulting-form {
  padding-top: 100px;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  color: #37393f;
}
.form-consulting__container {
  max-width: 1250px;
  padding: 50px 15px;
  margin: 0 auto;
}

.form-consulting__subtitle {
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 16px;
}
.form-consulting__subtitle::before {
  content: "";
  display: inline-block;
  background: #40ddb6;
  width: 12px;
  height: 12px;
  position: relative;
  right: 6px;
  bottom: 1px;
}
.form-consulting__title {
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 1.21;
  margin-bottom: 40px;
}

.consulting-form__form-row {
  display: flex;
  gap: 35px;
  margin-bottom: 28px;
}

.row-form__input {
  flex: 0 1 591px;
}
.row-form__input input {
  border: 1px solid #ddd;
  background: #f8f8f8;
  width: 100%;
  min-height: 65px;
  padding: 21px 40px 21px;
}
.row-form__input input::placeholder,
.consulting-form__text-area::placeholder {
  color: #37393f;
  text-transform: capitalize;
  font-size: 18px;
  font-family: "Inter", sans-serif;
  line-height: 1.2;
}

.consulting-form__text-area {
  width: 100%;
  border: 1px solid #ddd;
  background: #f8f8f8;
  padding: 22px 0 0 40px;
  margin-bottom: 71px;
  min-height: 222px;
  resize: vertical;
}
.consulting-form__button {
  color: #fff;
  text-align: center;
  font-size: inherit;
  font-weight: 600;
  line-height: 1.2;
  text-transform: capitalize;
  background: #6b77e5;
  padding: 21px 61px 22px 61px;
  cursor: pointer;
  transition: background-color 0.3s ease 0s;
}
.consulting-form__button:hover {
  background-color: #505ab1;
}
/* Euphoria info */
.main__euphoria-info {
  padding: 100px 15px;
}

.info-form__container {
  max-width: 895px;
  margin: 0 auto;
}
.info-form__title,
.info-form__subtitle {
  color: #3c4242;
  font-family: "Core Sans";
  font-size: 28px;
  font-weight: 600;
  line-height: 1.19;
  letter-spacing: 0.56px;
  margin-bottom: 20px;
}
.info-form__subtitle {
  font-size: 22px;
  line-height: 1.52;
  letter-spacing: 0.44px;
  margin-bottom: 50px;
}

.form-euphoria__input-row {
  display: flex;
  gap: 42px;

  color: #3c4242;
  font-family: "Causten";
  font-size: 18px;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 0.36px;
  margin-bottom: 31px;
}

.row-input__input {
  flex: 0 1 426px;
  display: flex;
  flex-direction: column;
}
.row-input__input label {
  margin-bottom: 10px;
}
.row-input__input input {
  width: 100%;
  height: 54px;
  padding: 18px 0 18px 22px;
  border-radius: 8px;
  background: #f6f6f6;
}
.row-input__input input::placeholder,
.form-euphoria__text-area textarea::placeholder,
.row-input__input--select option,
.row-input__input--select select {
  color: #807d7e;
  font-family: "Causten";
  line-height: 1.2;
  font-size: 16px;
}

.row-input__input--select select {
  padding: 18px 0 18px 22px;
  border-radius: 8px;
  appearance: none;

  background: #f6f6f6 url("../img/chevron-down.svg") right 22px top 50% / 22px
    no-repeat;
}
.row-input__input--select option {
  background: #f6f6f6;
  color: #807d7e;
}

.form-euphoria__text-area {
  display: flex;
  flex-direction: column;
}

.form-euphoria__text-area label {
  color: #3c4242;
  font-family: "Causten";
  font-size: 18px;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 0.36px;
  margin-bottom: 10px;
}
.form-euphoria__text-area textarea {
  border-radius: 8px;
  background: #f6f6f6;
  min-height: 149px;
  resize: vertical;
  padding: 18px 22px;
}
.form-euphoria__text-area {
  margin-bottom: 30px;
}
.wrapper-checkbox__checkbox:not(:last-child) {
  margin-bottom: 15px;
}
.wrapper-checkbox__checkbox {
  position: relative;
  margin-bottom: 62px;
}

.wrapper-checkbox__checkbox input {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  opacity: 0;
}
.wrapper-checkbox__checkbox label {
  display: inline-flex;
  align-items: center;
  gap: 11px;
  cursor: pointer;

  color: #3c4242;
  font-size: 21px;
}

.wrapper-checkbox__checkbox label::before {
  content: "";
  background-color: #fff;
  border: 2px solid #bebcbd;
  width: 21px;
  height: 21px;
  display: inline-block;
  border-radius: 2px;
  transition: background-color 0.3s;
}
.wrapper-checkbox__checkbox input:checked + label::before {
  background-color: #37393f;
}
.form-euphoria__button-box {
  display: flex;
  gap: 30px;
}
.form-euphoria__button-box button {
  border-radius: 8px;
  padding: 12px 40px;
  background: #f6f6f6;
  color: #807d7e;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s;
}
.form-euphoria__button-box .box-button__submit {
  background: #8a33fd;
  color: #fff;
}
.form-euphoria__button-box .box-button__submit:hover {
  background: #42236b;
}
.form-euphoria__button-box .box-button__reset:hover {
  background: #8a33fd;
  color: #fff;
}

/* Euphoria checkout */

.checkout-euphoria__container {
  max-width: 840px;
  margin: 0 auto;

  color: #3c4242;
  font-family: "Core Sans", sans-serif;
  font-size: 28px;
  font-weight: 600;
}
.checkout-euphoria__title {
  display: flex;
  align-items: center;
  gap: 15px;
  line-height: 1.19;
  letter-spacing: 0.56px;
  margin-bottom: 20px;
}
.checkout-euphoria__title::before {
  content: "";
  width: 6px;
  height: 28px;
  border-radius: 10px;
  background: #8a33fd;
  display: inline-block;
}
.checkout-euphoria__subtitle {
  font-size: 22px;
  line-height: 1.52;
  letter-spacing: 0.44px;
  margin-bottom: 50px;
}
.checkout-euphoria__user-form {
  max-width: 802px;

  font-family: "Causten", sans-serif;
  letter-spacing: 0.32px;
  font-size: 16px;
  padding-bottom: 32px;

  border-bottom: 1px solid #edeef2;
}

.form-user__input-row {
  display: flex;
  gap: 38px;
}
.row-inputs__input {
  display: flex;
  flex-direction: column;
  flex: 0 1 50%;

  margin-bottom: 28px;
}

.row-inputs__input label {
  margin-bottom: 10px;
}
.row-inputs__input input {
  width: 100%;
  border-radius: 8px;
  background-color: #f6f6f6;
  height: 54px;
  padding: 18px 0 18px 22px;
}
.row-inputs__input input::placeholder,
.row-inputs__input--select option,
.row-inputs__input--select select {
  color: #807d7e;
  font-family: "Causten", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
}
.form-user__input-row--three {
  flex: 0 1 33.333%;
}
.row-inputs__input--select select {
  padding: 18px 0 18px 22px;
  border-radius: 8px;
  appearance: none;

  background: #f6f6f6 url("../img/chevron-down.svg") right 22px top 50% / 22px
    no-repeat;
}
.row-inputs__input--select option {
  color: #807d7e;
  font-family: "Causten";
  font-size: 14px;
  line-height: 1.2;
  background: #f6f6f6;
}
.form-user__continue-button {
  border-radius: 8px;
  background: #8a33fd;
  color: #fff;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.2;
  padding: 16px 20px;
  cursor: pointer;
  margin-bottom: 36px;

  transition: background-color 0.3s ease 0s;
}

.form-user__continue-button:hover {
  background-color: #42236b;
}

.form-user__checkbox input {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  opacity: 0;
}
.form-user__checkbox label {
  display: inline-flex;
  align-items: center;
  gap: 11px;
  cursor: pointer;

  font-size: 18px;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: normal;
}
.form-user__checkbox label::before {
  content: "";
  background-color: #fff;
  border: 2px solid #bebcbd;
  width: 21px;
  height: 21px;
  display: inline-block;
  border-radius: 2px;
  transition: background-color 0.3s;
}
.form-user__checkbox input:checked + label::before {
  background-color: #37393f;
}

.form-user__checkbox {
  position: relative;
}

/* Second form */

.shipping-form {
  padding-top: 30px;
}
.shipping-form__title {
  color: #3c4242;
  font-family: "Core Sans", sans-serif;
  font-size: 22px;
  font-weight: 600;
  line-height: 1.52; /* 152.273% */
  letter-spacing: 0.44px;
  margin-bottom: 8px;
}
.shipping-form__subtitle {
  color: #3c4242;

  font-family: "Causten";
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  margin-bottom: 30px;
}
.shipping-form__radio-block {
  min-height: 175px;
  padding: 15px 48px 15px 28px;
  border-radius: 12px;
  background-color: #f6f6f6;
  margin-bottom: 30px;
}
.block-radio__radio:not(:last-child) {
  border-bottom: 1px solid #bebcbd;
}
.block-radio__radio {
  padding: 25px 0;
  position: relative;
}

.block-radio__radio input {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  opacity: 0;
}
.block-radio__radio label {
  display: inline-flex;
  align-items: center;
  gap: 19px;
  cursor: pointer;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
  width: 100%;
}
.block-radio__radio label::before {
  flex: 0 0 18px;
  content: "";
  width: 18px;
  height: 18px;
  border: 1px solid #3c4242;
  border-radius: 50%;
  transition: all 0.2s;
}
.block-radio__radio input:checked + label::before {
  box-shadow: inset 0 0 0 3px #fff;
  background-color: #807d7e;
}
.shipping-form__title--pt {
  padding-top: 30px;
  border-top: 1px solid #edeef2;
}
.shipping-form__method-shipping {
  padding: 32px 48px 32px 26px;
  border-radius: 12px;
  background: #f6f6f6;

  font-family: "Causten", sans-serif;

  margin-bottom: 30px;
}
.shipping-form__title-mb {
  margin-bottom: 30px;
}

.shipping-method__top-block {
  padding-bottom: 32px;
  border-bottom: 1px solid #bebcbd;
  margin-bottom: 25px;
}
.shipping-method__top-block h5 {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
}
.shipping-method__bottom-block {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}
.block-bottom__left-part {
  flex-direction: column;
  flex: 1 1 auto;
}
.block-bottom__left-part h5 {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 8px;
}
.block-bottom__left-part h6 {
  color: #807d7e;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2;
}

.block-bottom__right {
  color: #3c4242;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.shipping-form__payment-method {
  padding: 15px 48px 15px 28px;
  border-radius: 12px;
  background-color: #f6f6f6;

  font-family: "Causten", sans-serif;
  margin-bottom: 66px;
  position: relative;
}

.method-payment label::before {
  content: "";
  display: inline-flex;
  align-self: flex-end;
  width: 18px;
  height: 18px;
  border: 1px solid #3c4242;
  border-radius: 50%;
  transition: all 0.2s;
}
.method-payment input {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  opacity: 0;
}

.method-payment input:checked + label::before {
  box-shadow: inset 0 0 0 3px #fff;
  background-color: #807d7e;
}
.method-payment label {
  color: #3c4242;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 5px;

  display: inline-flex;
  gap: 19px;
  cursor: pointer;
}
.method-payment__subtitle {
  color: #3c4242;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  padding-left: 37px;
  margin-bottom: 30px;
}
.method-payment__list {
  display: flex;
  gap: 20px;
  margin-bottom: 31px;
}
.block-inputs {
  padding-bottom: 30px;
  border-bottom: 1px solid #bebcbd;
}

.block-inputs__row {
  display: flex;
  gap: 30px;
}

.row-payment > input {
  position: static;
  width: 100%;
  height: 49px;
  opacity: 1;
  flex: 1 1 50%;

  background-color: #f6f6f6;
  border-radius: 8px;
  border: 1px solid #3c4242;
  padding: 16px 20px;
}

.row-payment:not(:last-child) {
  margin-bottom: 28px;
}
.method-payment__cash {
  padding: 30px 0;
  border-bottom: 1px solid #bebcbd;
}
.method-payment__cash h6 {
  margin-bottom: 0;
}
.method-payment__paypal {
  padding: 30px 0;
}
.shipping-form__button {
  border-radius: 8px;
  background: #8a33fd;
  padding: 16px 20px;
  color: #fff;

  text-align: center;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.2;
  transition: background-color 0.3s ease 0s;
  cursor: pointer;
  margin-bottom: 30px;
}
.shipping-form__button:hover {
  background-color: #42236b;
}

.footer {
  text-align: center;
  padding: 30px 0;
  background-color: #3c4242;
}
