@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text&family=Inter&family=Poppins:wght@600&family=Yellowtail&display=swap');
/* 
   font-family: 'DM Serif Text', serif;
   font-family: 'Inter', sans-serif;
   font-family: 'Poppins', sans-serif;
   font-family: 'Yellowtail', cursive;
 */
