@import url("fonts.css");
@import url("reset.css");

body {
  background-color: rgb(78, 175, 143);
}

.header,
.footer {
  max-width: 1270px;
  padding: 10px 15px;
  margin: 0 auto;
}
.title,
.subtitle {
  font-size: 24px;
  text-align: center;
}
div {
  max-width: 700px;
  margin: auto;
  margin-bottom: 10px;
  text-align: center;
}
.rastr img {
  width: 100%;
}
.second-img {
  max-width: 408px;
}
