@import url("https://fonts.googleapis.com/css?family=Inter:regular,500,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:regular,600,700&display=swap");

@font-face {
  font-family: "Core Sans C";
  src: url("../fonts/CoreSansC-65Bold.woff2") format("woff2"),
    url("../fonts/CoreSansC-65Bold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "Core Sans C";
  src: url("../fonts/CoreSansC-75ExtraBold.woff2") format("woff2"),
    url("../fonts/CoreSansC-75ExtraBold.woff") format("woff");
  font-style: normal;
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: "Causten";
  src: url("../fonts/Causten-Light.woff2") format("woff2"),
    url("../fonts/Causten-Light.woff") format("woff");
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: "Causten";
  src: url("../fonts/Causten-Regular.woff2") format("woff2"),
    url("../fonts/Causten-Regular.woff") format("woff");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}
@font-face {
  font-family: "Causten";
  src: url("../fonts/Causten-SemiBold.woff2") format("woff2"),
    url("../fonts/Causten-SemiBold.woff") format("woff");
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: "Causten";
  src: url("../fonts/Causten-Bold.woff2") format("woff2"),
    url("../fonts/Causten-Bold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
