.title {
  color: #3c4242;
  font-family: "Core Sans C", sans-serif;
  font-size: 34px;
  font-weight: 600;
  line-height: 0.98;
  letter-spacing: 0.68px;
  padding-left: 20px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 4px;
    left: 0;
    height: 80%;
    width: 6px;
    border-radius: 10px;
    background: #8a33fd;
  }
  @include max-screen(991.98px) {
    font-size: 30px;
    &::before {
      top: 3px;
    }
  }
  @include max-screen(768px) {
    font-size: 26px;
    padding-left: 15px;
    &::before {
      top: 2px;
    }
  }
  @include max-screen(575px) {
    font-size: 22px;
  }
}

.page {
  &__categories-men,
  &__categories-women {
    margin-bottom: 100px;
    @include max-screen(1150px) {
      margin-bottom: 50px;
    }
    @include max-screen(991.98px) {
      margin-bottom: 35px;
    }
    .women-categories__title,
    .men-categories__title {
      margin-bottom: 70px;
      @include max-screen(991.98px) {
        margin-bottom: 35px;
      }
      @include max-screen(768px) {
        margin-bottom: 20px;
      }
    }
  }
}

.list-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px;
  @include max-screen(1100px) {
    gap: 40px;
  }
  @include max-screen(991.98px) {
    gap: 25px;
  }
  @include max-screen(900px) {
    grid-template-columns: repeat(3, 1fr);
  }
  @include max-screen(575px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @include max-screen(420px) {
    gap: 10px;
  }
}
.card-item {
  &__link {
    @media (any-hover: hover) {
      &:hover {
        .card-item__arr {
          animation: slide-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
        }
        .card-item__image img {
          transform: scale(1.04);
        }
      }
    }
  }

  &__image {
    width: 100%;
    height: 100%;
    margin-bottom: 15px;
    overflow: hidden;
    border-radius: 10px;
    @include max-screen(420px) {
      margin-bottom: 7px;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      aspect-ratio: 270 / 393;
      object-position: top;
      transition: transform 0.3s ease 0s;
    }
  }
  &__info {
    display: flex;

    @include max-screen(420px) {
      img {
        display: none;
      }
    }
  }
  &__text {
    @include max-screen(420px) {
      & {
        text-align: center;
      }
    }
    flex-grow: 1;
    h6 {
      color: #2a2f2f;
      font-size: 17px;
      font-weight: 700;
      line-height: 1.56;
      letter-spacing: -0.715px;
      margin-bottom: 4px;
      @media (max-width: 768px) {
        font-size: 15px;
        margin-bottom: 2px;
      }
    }
    div {
      color: #7f7f7f;
      font-size: 13px;
      font-weight: 500;
      line-height: 2.08;
      letter-spacing: -0.536px;
    }
  }
}

@keyframes slide-right {
  0% {
    transform: translateX(-20px);
  }
  100% {
    transform: translateX(0px);
  }
}
