$mainFont: "Causten", sans-serif;
$secondaryFont: "Core Sans C", sans-serif;
$monserat:"Montserrat", sans-serif;
$primaryGray:#f6f6f6;
$mainWhite:#fff;
$mainColor: #807d7e;
$titleColor:#3c4242;
$footerBorder:1px solid #bebcbd66;
