$font-inter: "Inter", sans-serif;
$font-poppins: "Poppins", sans-serif;
$font-cabin: "Cabin", sans-serif;

$primaryWhite: #fff;
$primaryDark: #37393f;
$primaryGreen: #40ddb6;
$primaryPurple: #6b77e5;
$primaryGray: #7d7d7d;

$m-sm: toEm(475.98);
$m: toEm(575.98);
$m-md: toEm(767.98);
$t: toEm(991.98);
$t-lg: toEm(1023.98);
$desc-sm: toEm(1199.98);
$desc: toEm(1439.98);
